<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Comments</title>
</head>
<body>
    <h1>Form comments</h1>
    <form action="/coments" method="post">
        <section>
            <label for="">Username</label>
            <input type="text" name="username" id="username">
        </section>
        <section>
            <label for="">Your Comment</label>
            <textarea name="text" id="coment" cols="30" rows="5" placeholder="Here to Text"></textarea>
        </section>
        <button type="submit">Input</button>
    </form>
    <a href="/coments">back</a>
</body>
</html>