<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment bedasarkan id</title>
</head>
<body>
   <h1>Comment id : <%= coment.id %></h1>
   <h3>Comment text : <%= coment.text %> - Author : <%= coment.username %></h3>
   <a href="/coments">back to the comments</a>
</body>
</html>